# Environnements virtuels
venv/
.env

# Fichiers de configuration
*.pyc
__pycache__/

# Configurations PyCharm
.idea/

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Fichiers système
.DS_Store
Thumbs.db
